.input {
    margin-left: 10px;
    margin-right: 10px;
    height: 60px;
    max-width: 100%;
    background: #FFFBEE;
    border-radius: 10px;
    margin-top: 10px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #212121;
}