.container {
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;

    width: 100%;

  padding: 80px;



    &:not(:disabled):active {
        animation: press 0.1s linear forwards;
    }
}

.no-books {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
}

.book {
    display: flex;

    cursor: pointer;

    padding: 20px;

    max-width: 300px;

    flex-direction: column;

    background-color: #F2D388;

    border-radius: 6px;

    text-align: center;
}


@keyframes press {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(1px, 1px);
    }
  }
  

.text {
    color: #212121;
}