.container {
    height: 50px;
    background: #D9CAB3;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;

    margin-top: 10px;
    margin-left:5px;
    margin-right:5px;
    margin-top:5px;
    &--selected {
        background: #D9CAB3;
    }

    &--unselected {
        background: #F2D388;   
    } 
}

.text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;

    letter-spacing: -0.06em;

    color: #212121;

}