.container {
  display: flex;

  width: 465px;
  min-height: 400px;

  justify-content: center;
  
  background: #212121;

  border: 1px solid #FFFBEE;

  border-radius: 30px;
}

.title {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #F2D388;
  margin-left: 10px;
}


.fields {
  display: flex;

  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;

  margin-top: 50px;
}
