.container {
    background-color: #F2D388;
    border: 1px solid rgba(255, 255, 255, 0.5);

    padding: 5px 50px;
    
    border-radius: 10px;

    &:not(:disabled):active {
        animation: press 0.1s linear forwards;
    }

    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;

      svg {
        color: green;

        height: 10px;
        width: 100px;
    }

    &:disabled {
      background-color: gray;
    }

    &:not(:disabled):hover {
      cursor: pointer;
    }
  }


@keyframes press {
    0% {
      transform: translate(0, 0);
    }
  
    100% {
      transform: translate(1px, 1px);
    }
  }
  