.container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    background-color: #212121;

    padding-left: 18px;
    padding-right: 18px;
}

.progress {
  width: 100%;
  height: 42.5px;
  background-color: #d9cab3;
  border-radius: 25px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: #40A078;
  border-radius: 25px;
  transition: width 0.3s ease-in-out;
}

.user {
    &-data {
        display: flex;

        align-items: center;

        color: #D9CAB3;
        font-size: 32px;
        font-weight: 700px;

        flex-direction: column;
        margin-left: 50px;
    }
}