.container {
    height: 100vh;

    background-image: url('/images/landing.jpeg');
    background-size: cover;
    background-position: center;

    padding: 60px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.text {
    color: #FFFBEE;
    font-size: 100px;

    margin-bottom: 40px;
}