.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 254px;
    width: 302px;
  }
}


.text {
    color: #d9cab3;
    font-size: 190px;
    font-weight: bold;
    letter-spacing: -0.05em;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }