.container {
    display: grid;

    max-height: 100vh;

grid-template-columns: 250px auto;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "menu banner"
    "menu content";

  height: 100vh;
}

.menu {
  grid-area: menu;
  background-color: #f0f0f0;
}

.content {
    height: auto;

    background-image: url('/images/background.jpeg');
    background-size: cover;
    background-position: center;
}

.banner {
    grid-area: banner;
}